<!-- Main container -->
<div class="page-container">
    
<!-- bloc-0 -->
<div class="bloc bloc-fill-screen bg-Casa b-parallax bgc-white l-bloc " id="bloc-0">
	<div class="container fill-bloc-top-edge">
		<nav class="navbar row">
			<div class="navbar-header">
				<button id="nav-toggle" type="button" class="ui-navbar-toggle navbar-toggle" data-toggle="collapse" data-target=".navbar-1">
					<span class="sr-only">Móvil</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
				</button>
			</div>
			<div class="navbar-collapse navbar-1 collapse">
				<ul class="site-navigation nav navbar-nav pull-right">
					<li>
						<a href="index.html" class="ltc-white">G21 | Life &amp; Art Experience</a>
					</li>
				</ul>
			</div>
		</nav>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-sm-5">
			</div>
		</div>
	</div>
	<div class="container fill-bloc-bottom-edge">
		<div class="row">
			<div class="col-sm-12">
				<a id="scroll-hero" class="blocs-hero-btn-dwn" href="#"><span class="fa fa-chevron-down icon-white"></span></a>
			</div>
		</div>
	</div>
</div>
<!-- bloc-0 END -->

<!-- bloc-1 -->
<div class="bloc bg-rayos bgc-white l-bloc bloc-fill-screen b-parallax" id="bloc-1">
	<div class="container">
		<div class="row">
			<div class="col-sm-12">	
				<a href="#" data-toggle="modal" data-target="#naturaleza-patrimonial">
					<h2 class="mg-md  lg-shadow tc-white">
						Naturaleza patrimonial
					</h2>	
				</a>
        
			</div>
		</div>
	</div>
  	<div class="container fill-bloc-bottom-edge">
        <div class="row">
            <div class="col-sm-12 text-center">
              	<a onclick="scrollToTarget('#bloc-2')"><span class="fa fa-chevron-down icon-white"></span></a>
            </div>
        </div>
    </div>
</div>
<!-- bloc-1 END -->
<!-- Modal -->
<div class="modal fade" id="naturaleza-patrimonial" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Naturaleza patrimonial</h4>
      </div>
      <div class="modal-body">
        <p>
        	Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque laboriosam, quae beatae, iusto dolorem, aspernatur asperiores, tempore reprehenderit dignissimos eum ipsam nostrum fugiat laudantium. Dicta reiciendis, illo earum ex odit.
        </p>
        <p>
        	Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque laboriosam, quae beatae, iusto dolorem, aspernatur asperiores, tempore reprehenderit dignissimos eum ipsam nostrum fugiat laudantium. Dicta reiciendis, illo earum ex odit.
        </p>
        <p>
        	Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque laboriosam, quae beatae, iusto dolorem, aspernatur asperiores, tempore reprehenderit dignissimos eum ipsam nostrum fugiat laudantium. Dicta reiciendis, illo earum ex odit.
        </p>
        <div id="slidy-container">
  			<figure id="slidy">
    			<img src="img/naturaleza-patrimonial/naturaleza-patrimonial-6.jpg" alt data-caption="Naturaleza patrimonial">
    			<img src="img/naturaleza-patrimonial/naturaleza-patrimonial-5.jpg" alt data-caption="Naturaleza patrimonial">
    			<img src="img/naturaleza-patrimonial/naturaleza-patrimonial-4.jpg" alt data-caption="Naturaleza patrimonial">
    			<img src="img/naturaleza-patrimonial/naturaleza-patrimonial-3.jpg" alt data-caption="Naturaleza patrimonial">
    			<img src="img/naturaleza-patrimonial/naturaleza-patrimonial-2.jpg" alt data-caption="Naturaleza patrimonial">
    			<img src="img/naturaleza-patrimonial/naturaleza-patrimonial-1.jpg" alt data-caption="Naturaleza patrimonial">
  			</figure>
		</div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>



<!-- bloc-2 -->
<div class="bloc bg-arquitectura-viva bgc-white l-bloc bloc-fill-screen b-parallax" id="bloc-2">
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<a href="#" data-toggle="modal" data-target="#arquitectura-viva">
					<h2 class="mg-md  lg-shadow tc-white">
						Arquitectura viva
					</h2>	
				</a>
			</div>
		</div>
	</div>
	<div class="container fill-bloc-bottom-edge">
        <div class="row">
            <div class="col-sm-12 text-center">
              	<a onclick="scrollToTarget('#bloc-3')"><span class="fa fa-chevron-down icon-white"></span></a>
            </div>
        </div>
    </div>
</div>
<!-- bloc-2 END -->

<!-- Modal -->
<div class="modal fade" id="arquitectura-viva" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Arquitectura viva</h4>
      </div>
      <div class="modal-body">
        <p>
        	Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque laboriosam, quae beatae, iusto dolorem, aspernatur asperiores, tempore reprehenderit dignissimos eum ipsam nostrum fugiat laudantium. Dicta reiciendis, illo earum ex odit.
        </p>
        <p>
        	Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque laboriosam, quae beatae, iusto dolorem, aspernatur asperiores, tempore reprehenderit dignissimos eum ipsam nostrum fugiat laudantium. Dicta reiciendis, illo earum ex odit.
        </p>
        <p>
        	Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque laboriosam, quae beatae, iusto dolorem, aspernatur asperiores, tempore reprehenderit dignissimos eum ipsam nostrum fugiat laudantium. Dicta reiciendis, illo earum ex odit.
        </p>
        <div id="slidy-container">
  			<figure id="arq-viva">
    			<img src="img/arq-viva/arquitectura-viva-1.jpg" alt data-caption="Arquitectura viva">
    			<img src="img/arq-viva/arquitectura-viva-2.jpg" alt data-caption="Arquitectura viva">
    			<img src="img/arq-viva/arquitectura-viva-3.jpg" alt data-caption="Arquitectura viva">
    			<img src="img/arq-viva/arquitectura-viva-4.jpg" alt data-caption="Arquitectura viva">
    			<img src="img/arq-viva/arquitectura-viva-5.jpg" alt data-caption="Arquitectura viva">
    			<img src="img/arq-viva/arquitectura-viva-6.jpg" alt data-caption="Arquitectura viva">
  			</figure>
		</div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>

<!-- bloc-3 -->
<div class="bloc bgc-white bg-arte-luz d-bloc bloc-fill-screen b-parallax" id="bloc-3">
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<a href="#" data-toggle="modal" data-target="#arte-luz">
					<h2 class="mg-md  lg-shadow tc-white">
						Arte y luz
					</h2>	
				</a>
			</div>
		</div>
	</div>
	<div class="container fill-bloc-bottom-edge">
        <div class="row">
            <div class="col-sm-12 text-center">
              	<a onclick="scrollToTarget('#bloc-4')"><span class="fa fa-chevron-down icon-white"></span></a>
            </div>
        </div>
    </div>
</div>
<!-- bloc-3 END -->
<!-- Modal -->
<div class="modal fade" id="arte-luz" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Arte y luz</h4>
      </div>
      <div class="modal-body">
        <p>
        	Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque laboriosam, quae beatae, iusto dolorem, aspernatur asperiores, tempore reprehenderit dignissimos eum ipsam nostrum fugiat laudantium. Dicta reiciendis, illo earum ex odit.
        </p>
        <p>
        	Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque laboriosam, quae beatae, iusto dolorem, aspernatur asperiores, tempore reprehenderit dignissimos eum ipsam nostrum fugiat laudantium. Dicta reiciendis, illo earum ex odit.
        </p>
        <p>
        	Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque laboriosam, quae beatae, iusto dolorem, aspernatur asperiores, tempore reprehenderit dignissimos eum ipsam nostrum fugiat laudantium. Dicta reiciendis, illo earum ex odit.
        </p>
        <div id="slidy-container">
  			<figure id="arteluz">
    			<img src="img/arte-luz/arte-luz-1.jpg" alt data-caption="Arte y luz">
    			<img src="img/arte-luz/arte-luz-2.jpg" alt data-caption="Arte y luz">
    			<img src="img/arte-luz/arte-luz-3.jpg" alt data-caption="Arte y luz">
    			<img src="img/arte-luz/arte-luz-4.jpg" alt data-caption="Arte y luz">
  			</figure>
		</div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>


<!-- bloc-4 -->
<div class="bloc bgc-white bloc-fill-screen bg-multi-salas d-bloc b-parallax" id="bloc-4">
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<a href="#" data-toggle="modal" data-target="#multiespacios">
					<h2 class="mg-md  lg-shadow tc-white">
						Multi espacios
					</h2>	
				</a>
			</div>
		</div>
	</div>
	<div class="container fill-bloc-bottom-edge">
        <div class="row">
            <div class="col-sm-12 text-center">
              	<a onclick="scrollToTarget('#bloc-5')"><span class="fa fa-chevron-down icon-white"></span></a>
            </div>
        </div>
    </div>
</div>
<!-- bloc-4 END -->
<!-- Modal -->
<div class="modal fade" id="multiespacios" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Multi espacios</h4>
      </div>
      <div class="modal-body">
        <p>
        	Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque laboriosam, quae beatae, iusto dolorem, aspernatur asperiores, tempore reprehenderit dignissimos eum ipsam nostrum fugiat laudantium. Dicta reiciendis, illo earum ex odit.
        </p>
        <p>
        	Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque laboriosam, quae beatae, iusto dolorem, aspernatur asperiores, tempore reprehenderit dignissimos eum ipsam nostrum fugiat laudantium. Dicta reiciendis, illo earum ex odit.
        </p>
        <p>
        	Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque laboriosam, quae beatae, iusto dolorem, aspernatur asperiores, tempore reprehenderit dignissimos eum ipsam nostrum fugiat laudantium. Dicta reiciendis, illo earum ex odit.
        </p>
        <div id="slidy-container">
  			<figure id="multi-espacios">
    			<img src="img/multiespacios/multiespacios-1.jpg" alt data-caption="Multi espacios">
    			<img src="img/multiespacios/multiespacios-2.jpg" alt data-caption="Multi espacios">
    			<img src="img/multiespacios/multiespacios-3.jpg" alt data-caption="Multi espacios">
    			<img src="img/multiespacios/multiespacios-4.jpg" alt data-caption="Multi espacios">
    			<img src="img/multiespacios/multiespacios-5.jpg" alt data-caption="Multi espacios">
    			<img src="img/multiespacios/multiespacios-6.jpg" alt data-caption="Multi espacios">
  			</figure>
		</div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>



<!-- bloc-5 -->
<div class="bloc bgc-white bloc-fill-screen bg-gourmet- d-bloc b-parallax" id="bloc-5">
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<a href="#" data-toggle="modal" data-target="#gourmet">
					<h2 class="mg-md  lg-shadow tc-white">
						Gourmet
					</h2>	
				</a>
			</div>
		</div>
	</div>
	<div class="container fill-bloc-bottom-edge">
        <div class="row">
            <div class="col-sm-12 text-center">
              	<a onclick="scrollToTarget('#bloc-6')"><span class="fa fa-chevron-down icon-white"></span></a>
            </div>
        </div>
    </div>
</div>
<!-- bloc-5 END -->
<!-- Modal -->
<div class="modal fade" id="gourmet" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Gourmet</h4>
      </div>
      <div class="modal-body">
        <p>
        	Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque laboriosam, quae beatae, iusto dolorem, aspernatur asperiores, tempore reprehenderit dignissimos eum ipsam nostrum fugiat laudantium. Dicta reiciendis, illo earum ex odit.
        </p>
        <p>
        	Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque laboriosam, quae beatae, iusto dolorem, aspernatur asperiores, tempore reprehenderit dignissimos eum ipsam nostrum fugiat laudantium. Dicta reiciendis, illo earum ex odit.
        </p>
        <p>
        	Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque laboriosam, quae beatae, iusto dolorem, aspernatur asperiores, tempore reprehenderit dignissimos eum ipsam nostrum fugiat laudantium. Dicta reiciendis, illo earum ex odit.
        </p>
        <div id="slidy-container">
  			<figure id="gourmet_">
    			<img src="img/gourmet/gourmet-1.jpg" alt data-caption="Multi espacios">
    			<img src="img/gourmet/gourmet-2.jpg" alt data-caption="Multi espacios">
    			<img src="img/gourmet/gourmet-3.jpg" alt data-caption="Multi espacios">
    			<img src="img/gourmet/gourmet-4.jpg" alt data-caption="Multi espacios">
    			<img src="img/gourmet/gourmet-5.jpg" alt data-caption="Multi espacios">
    			<img src="img/gourmet/gourmet-6.jpg" alt data-caption="Multi espacios">
  			</figure>
		</div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>





<!-- bloc-6 -->
<div class="bloc bgc-white bloc-fill-screen bg-huerto d-bloc  b-parallax" id="bloc-6">
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<a href="#" data-toggle="modal" data-target="#huerto">
					<h2 class="mg-md  lg-shadow tc-white">
						Frutos del huerto
					</h2>	
				</a>
			</div>
		</div>
	</div>
	<div class="container fill-bloc-bottom-edge">
        <div class="row">
            <div class="col-sm-12 text-center">
              	<a onclick="scrollToTarget('#bloc-7')"><span class="fa fa-chevron-down icon-white"></span></a>
            </div>
        </div>
    </div>
</div>
<!-- bloc-6 END -->
<!-- Modal -->
<div class="modal fade" id="huerto" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Frutos del huerto</h4>
      </div>
      <div class="modal-body">
        <p>
        	Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque laboriosam, quae beatae, iusto dolorem, aspernatur asperiores, tempore reprehenderit dignissimos eum ipsam nostrum fugiat laudantium. Dicta reiciendis, illo earum ex odit.
        </p>
        <p>
        	Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque laboriosam, quae beatae, iusto dolorem, aspernatur asperiores, tempore reprehenderit dignissimos eum ipsam nostrum fugiat laudantium. Dicta reiciendis, illo earum ex odit.
        </p>
        <p>
        	Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque laboriosam, quae beatae, iusto dolorem, aspernatur asperiores, tempore reprehenderit dignissimos eum ipsam nostrum fugiat laudantium. Dicta reiciendis, illo earum ex odit.
        </p>
        <div id="slidy-container">
  			<figure id="huerto_">
    			<img src="img/huerto/huerto-1.jpg" alt data-caption="Frutos del huerto">
    			<img src="img/huerto/huerto-2.jpg" alt data-caption="Frutos del huerto">
    			<img src="img/huerto/huerto-3.jpg" alt data-caption="Frutos del huerto">
    			<img src="img/huerto/huerto-4.jpg" alt data-caption="Frutos del huerto">
  			</figure>
		</div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>

<!-- bloc-7 -->
<div class="bloc bgc-white bloc-fill-screen bg-cuerpo-alma d-bloc b-parallax" id="bloc-7">
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<a href="#" data-toggle="modal" data-target="#cuerpo">
					<h2 class="mg-md  lg-shadow tc-white">
						Cuerpo y alma
					</h2>	
				</a>
			</div>
		</div>
	</div>
</div>
<!-- bloc-7 END -->
<!-- Modal -->
<div class="modal fade" id="cuerpo" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Cuerpo y alma</h4>
      </div>
      <div class="modal-body">
        <p>
        	Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque laboriosam, quae beatae, iusto dolorem, aspernatur asperiores, tempore reprehenderit dignissimos eum ipsam nostrum fugiat laudantium. Dicta reiciendis, illo earum ex odit.
        </p>
        <p>
        	Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque laboriosam, quae beatae, iusto dolorem, aspernatur asperiores, tempore reprehenderit dignissimos eum ipsam nostrum fugiat laudantium. Dicta reiciendis, illo earum ex odit.
        </p>
        <p>
        	Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque laboriosam, quae beatae, iusto dolorem, aspernatur asperiores, tempore reprehenderit dignissimos eum ipsam nostrum fugiat laudantium. Dicta reiciendis, illo earum ex odit.
        </p>
        <div id="slidy-container">
  			<figure id="cuerpo_">
    			<img src="img/alma/cuerpo-alma-1.jpg" alt data-caption="Cuerpo y alma">
    			<img src="img/alma/cuerpo-alma-2.jpg" alt data-caption="Cuerpo y alma">
    			<img src="img/alma/cuerpo-alma-3.jpg" alt data-caption="Cuerpo y alma">
  			</figure>
		</div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>

<!-- ScrollToTop Button -->
<a class="bloc-button btn btn-d scrollToTop" onclick="scrollToTarget('1')"><span class="fa fa-chevron-up"></span></a>
<!-- ScrollToTop Button END-->


<!-- Footer - bloc-8 -->
<div class="bloc bgc-black d-bloc" id="bloc-8">
	<div class="container bloc-md">
		<div class="row">
			<div class="col-sm-12">
				<h4 class="mg-md text-center tc-white">
					hola@g21.cl
				</h4>
			</div>
		</div>
	</div>
</div>
<!-- Footer - bloc-8 END -->

</div>
<!-- Main container END -->
    
<script> cssSlidy({
    timeOnSlide: 1.5,
    timeBetweenSlides: .15,
  }); 
</script>
<script> cssSlidyArqViva({
    timeOnSlide: 1.5,
    timeBetweenSlides: .15,
  }); 
</script>
<script> cssSlidyArteLuz({
    timeOnSlide: 1.5,
    timeBetweenSlides: .15,
  }); 
</script>
<script> cssSlidyMultiEspacios({
    timeOnSlide: 1.5,
    timeBetweenSlides: .15,
  }); 
</script>
<script> cssSlidyGourmet({
    timeOnSlide: 1.5,
    timeBetweenSlides: .15,
  }); 
</script>
<script> cssSlidyHuerto({
    timeOnSlide: 1.5,
    timeBetweenSlides: .15,
  }); 
</script>
<script> cssSlidyCuerpo({
    timeOnSlide: 1.5,
    timeBetweenSlides: .15,
  }); 
</script>
